{% extends "base.html.twig" %}
{% block title %}
	Afficher entreprise / contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}
{% block body %}
    <section id="contents" class="content_tropical container-fluid">
        <!-- entete content -->
        {% include "nav2.html.twig" %}
            <div id="hrs_content">
                <div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <section class="section_part" id="section_part_top">
                            <div class="sous_titre sous_titre_tw">
                                <h3>{{ nom_client }}</h3>
                            </div>
                            <div class="liste_chiffre_daf">
                                <div class="unite_chiffre chiffre_daf">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires</h4>
                                    </div>
                                    <div class="montant_value">
                                        <span class="montant">
                                            {{ chiffre_daf }}
                                        </span>
                                        <span>Ar</span>
                                    </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires ancaissé</h4>
                                    </div>
                                    <div class="montant_value">
                                            <span class="montant">
                                                {{ chiffre_daf_enc }}
                                            </span>
                                            <span>Ar</span>
                                    </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_a_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires à encaissé</h4>
                                    </div>
                                    <div class="montant_value">
                                            <span class="montant">{{ chiffre_daf_a_enc }}</span>
                                            <span>Ar</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    {# <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <h3 class="small_tittle"><u>Clients</u></h3>
                         <div class="add_contact">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal_add_adresse">
                                <span class="fa fa-plus"></span>Adresse siège social
                            </a>
                        </div>
                        <div class="tab_small_content">
                       
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Entreprise</span></th>
                                        <th><span>Adresse siège social</span></th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody id="body_tab_adresse">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div> #}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <h3 class="small_tittle"><u>Contact</u></h3>
                        <div class="add_contact">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal_add_contact"><span class="fa fa-plus"></span>Nouveau contact</a>
                        </div>
                        <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Contact</span></th>
                                        <th><span>Email</span></th>
                                        <th><span>N° de tél</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="liste_tab_contact">

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction en cours</h3>
                        </div>  
                        <div class="tableau_tropical">
                            <div class="table_content">
                                <div class="table_header">
                                    <div class="t_header_row">
                                        <div>
                                            <span>Référence</span>
                                        </div>
                                        <div>
                                            <span>Détails</span>
                                        </div>
                                        <div>
                                            <span>Type de transaction</span>
                                        </div>
                                        <div>
                                            <span>Etat de production</span>
                                        </div>
                                        <div>
                                            <span>Paiement</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="ASC" data-trans ="encours">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="DESC" data-trans ="encours">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Reste à payé</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="reste" data-data="ASC" data-trans ="encours">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="reste" data-data="DESC" data-trans ="encours">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Montant total</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="ASC" data-trans ="encours">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="DESC" data-trans ="encours">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Date de confirmation</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table_body liste_pf" id="dr_tab_trans_encours">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                        <div class="form_remarque1">
                            <form action="" class="form-inline">
                                <div class="form-group">
                                    {# par defaut date du jour #}
                                    <label for="">Date: </label>
                                    <input type="date" id="date_remarque" class="form-control">
                                </div>
                                <div class="form-group">                                  
                                    <label for="">Concerne: </label>
                                    <select name="" id="id_pro" class="form-control">
                                        {% for item in liste_pf %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Observation: </label>
                                    <input type="text" id="observation" class="form-control observation">
                                </div>
                                 <div class="form-group">
                                    <input type="submit" class="btn btn-xs btn-default" value="Valider" id="valider_remarque">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                         <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Date</span></th>
                                        <th><span>Concerne</span></th>
                                        <th><span>Explication</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody__liste_rem_non">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction terminée</h3>
                        </div>  
                        <div class="tableau_tropical">
                            <div class="table_content">
                                <div class="table_header">
                                    <div class="t_header_row">
                                        <div>
                                            <span>Référence</span>
                                        </div>
                                        <div>
                                            <span>Détails</span>
                                        </div>
                                        <div>
                                            <span>Type de transaction</span>
                                        </div>
                                        <div>
                                            <span>Etat de production</span>
                                        </div>
                                        <div>
                                            <span>Paiement</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="ASC" data-trans ="terminer">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="total_reglement" data-data="DESC" data-trans ="terminer">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Reste à payé</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="reste" data-data="ASC" data-trans ="terminer">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="reste" data-data="DESC" data-trans ="terminer">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Montant total</span>
                                            <span class="span_tri">
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="ASC" data-trans ="terminer">
                                                    <small class="fa fa-sort-asc"></small>
                                                </a>
                                                <a href="#" class="a_tri" data-type="montant_total" data-data="DESC" data-trans ="terminer">
                                                    <small class="fa fa-sort-desc"></small>
                                                </a>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Date de confirmation</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table_body liste_pf" id="dr_tab_trans_terminer">
                                    
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                       <div class="tab_small_content" style="margin-top:25px;">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Date</span></th>
                                        <th><span>Concerne</span></th>
                                        <th><span>Explication</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody__liste_rem_oui">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    {# modal nouveau adresse #}
    <div class="modal fade" id="modal_add_adresse" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un adresse siège social</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Adresse siège social</label>
                            <input type="text" placeholder="Adresse" id="adresse" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_modal_add_adresse">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal adresse #}

    {# modal nouveau contact #}
    <div class="modal fade" id="modal_add_contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un nouveau contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_form_add_contact">
                    <form action="">
                        <div class="form-group">
                            <label for="">Contact</label>
                            <input type="text" placeholder="Contact" id="contact" class="form-control">
                        </div>
                        {# <div class="form-group">
                            <label for="">Type de contact</label>
                            <select name="" id="type_contact" class="form-control">
                                <option value="Contact primaire">Contact primaire</option>
                                <option value="Contact secondaire">Contact secondaire</option>
                                <option value="Simple contact">Simple contact</option>
                            </select>
                        </div> #}
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" id="email" placeholder="Adresse@mail...." class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">N° Téléphone</label>
                            <input type="text" id="telephone" placeholder="03x xxx" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_add_contact" data-id = "">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal contact #}

{% endblock %}
{% block javascripts %}
    <script>

    $(document).ready(function(){

                // lister adresse pour l'entreprise
                var id_client = '{{ id_client }}';
    
                function liter_adresse_entreprise(){
                        
                     var data = {
                        "id_client"    : id_client
                    }
                    $.ajax({
                        url         : "/tropical_wood/entreprise/listerAdresse",
                        type        : "POST",
                        data        : data,
                        success     : function(response){
                           $("#body_tab_adresse").html(response);
                        },
                        error       : function () {
                            alert('Erreur dans lister adress');
                        }
                    })
                }
                liter_adresse_entreprise();

        // action ajout adresse 

        $("#button_modal_add_adresse").on('click', function(ev){
            ev.preventDefault();
            
            //alert(nom_entreprise);
            var data = {
                "adresse"       : $("#adresse").val(),
                "id_client"    : id_client
            }
            $.ajax({
                url         : "/tropical_wood/entreprise/addAdresse",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_adresse_entreprise();
                    $("#modal_add_adresse").modal('hide');
                },
                error       : function () {
                    alert('Erreur dans add adress');
                }
            })
            
        })

        $(document).on('click','.tab_adress_edit', function(ev){
            ev.preventDefault();
            
            var adresse = $(this).attr('data-adresse');
            $("#modal_add_adresse").modal('show');
            $('#adresse').text(adresse);
            
        })

        // add contact

        $(document).on("click", "#button_add_contact", function(ev){
            ev.preventDefault();
            var contact = $("#contact").val();
            // var type_contact = $("#type_contact").val();
            var email = $("#email").val(); 
            var telephone = $("#telephone").val();
            var id_contact = $(this).attr("data-id");
            
            var data = {
                "nom_en_contact"        : contact,               
                // "type"                  : type_contact,
                "email"                 : email,
                "telephone"             : telephone,
                "id_client"            : id_client,
                "id_contact"            : id_contact,
            }

            $.ajax({
                url         :  "/tropical_wood/add_contact",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_contact_entreprise();
                    $("#modal_add_contact").modal('hide');
                },
                error       : function(){
                    alert("erreur add contact");
                }
            })
        })

        // edit contact
        // click edit contact 
        $(document).on("click", ".edit_contact", function(ev){
            ev.preventDefault();
            var id_contact = $(this).attr('data-id');
            
            $.ajax({
                url : "/tropical_wood/edit_contact",
                type : "POST",
                data : {
                    "id_client" : id_client,
                    "id_contact" : id_contact
                },
                success : function(response){
                    $("#modal_form_add_contact").html(response);
                    $("#modal_add_contact").modal('show');
                }, 
                error : function(){
                    alert("erreur au niveau de edit contact");
                }
            })
        })

         // delete contact
        // click delete contact 
        $(document).on("click", ".delete_contact", function(ev){
            ev.preventDefault();
            var id_contact = $(this).attr('data-id');
            $bool = confirm("Voulez-vous vraiment supprimer ce contact ?")
            if($bool == true){
                $.ajax({
                    url : "/tropical_wood/delete_contact",
                    type : "POST",
                    data : {
                        "id_client" : id_client,
                        "id_contact" : id_contact
                    },
                    success : function(response){
                        liter_contact_entreprise();
                    }, 
                    error : function(){
                        alert("erreur au niveau de delete contact");
                    }
                })
            }
        })

            // liste contact
            function liter_contact_entreprise(){
                
                    var data = {
                    "id_client"    : id_client
                }
                $.ajax({
                    url         : "/tropical_wood/entreprise/listercontact",
                    type        : "POST",
                    data        : data,
                    success     : function(response){
                        $("#liste_tab_contact").html(response);
                    },
                    error       : function () {
                        alert('Erreur dans lister contact');
                    }
                })
            }
            liter_contact_entreprise();

            // remarque 

            // add remarque 

            $("#valider_remarque").on("click", function(ev){
                ev.preventDefault();
                var data = {
                    "date_remarque" : $("#date_remarque").val(),
                    "id_pro"        : $("#id_pro").val(),
                    "observation"   : $("#observation").val(),
                    "id_client"     : id_client,
                }
                $.ajax({
                    url     : "/tropical_wood/add_remarque", 
                    type    : "POST",
                    data    : data, 
                    success : function(response){
                        lister_rem_non_terminer();
                    },
                    error   : function(){
                        alert('erreur dans valider remarque');
                    }
                })
            })

            // lister remarque non terminé

            function lister_rem_non_terminer(){
                 $.ajax({
                    url     : "/tropical_wood/lister_remarque_non", 
                    type    : "POST",
                    data    : {
                        "id_client" : id_client,
                    }, 
                    success : function(response){
                        $("#tbody__liste_rem_non").html(response);
                    },
                    error   : function(){
                        alert('erreur dans liste remarque non terminer');
                    }
                })
            }

            // lister remarque non terminé

            function lister_rem_terminer(){
               
                 $.ajax({
                    url     : "/tropical_wood/lister_remarque_oui", 
                    type    : "POST",
                    data    : {
                        "id_client" : id_client,
                    }, 
                    success : function(response){
                        $("#tbody__liste_rem_oui").html(response);
                    },
                    error   : function(){
                        alert('erreur dans lister remarque terminer');
                    }
                })
            }


            // edit remarque 
            $(document).on('click', ".edit_remarque", function(ev){
                ev.preventDefault();
                var id_remarque = $(this).attr("data-id");
                var data = {
                    "id_remarque" : id_remarque
                };
                $.ajax({
                    url : "/tropical_wood/edit_remarque",
                    type : "POST",
                    data : data,
                    success : function(response){
                        lister_rem_non_terminer();
                        lister_rem_terminer();
                    }, 
                    error : function(){
                        alert('erreur edit remarque passer de ter à supp');
                    }
                })
            })

            // delete remarque 
            $(document).on('click', ".delete_remarque", function(ev){
                ev.preventDefault();
                var id_remarque = $(this).attr("data-id");
                var data = {
                    "id_remarque" : id_remarque
                };
                $.ajax({
                    url : "/tropical_wood/delete_remarque",
                    type : "POST",
                    data : data,
                    success : function(response){
                        lister_rem_terminer();
                    }, 
                    error : function(){
                        alert('erreur edit remarque passer de ter à supp');
                    }
                })
            })


            lister_rem_non_terminer();
            lister_rem_terminer();

            // lister transaction et tri

            function lister_transaction_enc(tri_total_reg, tri_reste, tri_total_montant){
                var data = {
                    "id_client" : id_client,
                    "tri_total_reglement" : tri_total_reg,
                    "tri_reste" : tri_reste,
                    "tri_total_montant" : tri_total_montant
                }
                $.ajax({
                    url : "/tropical_wood/lister_transaction_enc",
                    type : "POST",
                    data : data,
                    beforeSend : function(){
                        $("#dr_tab_trans_encours").html('<p style="text-align:center">chargement ...</p>');
                    },
                    success : function(response){
                        $("#dr_tab_trans_encours").html(response);
                    },
                    error : function(){
                        alert('erreur au niveau de liste trans enc');
                    }
                })
            }
             function lister_transaction_terminer(tri_total_reg, tri_reste, tri_total_montant){
                 var data = {
                    "id_client" : id_client,
                    "tri_total_reglement" : tri_total_reg,
                    "tri_reste" : tri_reste,
                    "tri_total_montant" : tri_total_montant
                }
                $.ajax({
                    url : "/tropical_wood/lister_transaction_terminer",
                    type : "POST",
                    data : data,
                    beforeSend : function(){
                        $("#dr_tab_trans_terminer").html('<p style="text-align:center">chargement ...</p>');
                    },
                    success : function(response){
                        $("#dr_tab_trans_terminer").html(response);
                    },
                    error : function(){
                        alert('erreur au niveau de liste trans terminer');
                    }
                })
            }
            lister_transaction_enc(null,null,"DESC");
            lister_transaction_terminer(null,null,"DESC");

            // tri
            $(".a_tri").on("click", function(ev){
                ev.preventDefault();
                var data_type = $(this).attr("data-type");
                var data_data = $(this).attr("data-data");
                var data_trans = $(this).attr("data-trans");
                if(data_trans == "encours"){
                    if(data_type == "total_reglement"){
                        lister_transaction_enc(data_data,null,null);
                    }
                    if(data_type == "reste"){
                        lister_transaction_enc(null,data_data,null);
                    }
                    if(data_type == "montant_total"){
                        lister_transaction_enc(null,null,data_data);
                    }
                }
                else if(data_trans == "terminer"){
                    if(data_type == "total_reglement"){
                        lister_transaction_terminer(data_data,null,null);
                    }
                    if(data_type == "reste"){
                        lister_transaction_terminer(null,data_data,null);
                    }
                    if(data_type == "montant_total"){
                        lister_transaction_terminer(null,null,data_data);
                    }
                }
            })


    })

    </script>
{% endblock %}
