{% extends "base.html.twig" %}
{% block title %}
	Afficher entreprise / contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}
{% block body %}
    <section id="contents" class="content_tropical container-fluid">
        <!-- entete content -->
        {% include "nav2.html.twig" %}
            <div id="hrs_content">
                <div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <section class="section_part" id="section_part_top">
                            <div class="sous_titre sous_titre_tw">
                                <h3>{{ nom_client }}</h3>
                            </div>
                            <div class="liste_chiffre_daf">
                                <div class="unite_chiffre chiffre_daf">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires</h4>
                                    </div>
                                    <div class="montant_value">
                                        <span class="montant">
                                            {{ chiffre_daf }}
                                        </span>
                                        <span>Ar</span>
                                    </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires ancaissé</h4>
                                    </div>
                                   <div class="montant_value">
                                        <span class="montant">
                                            {{ chiffre_daf_enc }}
                                        </span>
                                        <span>Ar</span>
                                   </div>
                                </div>
                                <div class="unite_chiffre chiffre_daf_a_enc">
                                    <div class="titre_ca">
                                        <h4>Chiffre d'affaires à encaissé</h4>
                                    </div>
                                   <div class="montant_value">
                                        <span class="montant">{{ chiffre_daf_a_enc }}</span>
                                        <span>Ar</span>
                                   </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <h3 class="small_tittle"><u>Clients</u></h3>
                         <div class="add_contact">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal_add_adresse">
                                <span class="fa fa-plus"></span>Adresse siège social
                            </a>
                        </div>
                        <div class="tab_small_content">
                        {# <table class="table small_tab"> #}
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Entreprise</span></th>
                                        <th><span>Adresse siège social</span></th>
                                        <th><span></span></th>
                                    </tr>
                                </thead>
                                <tbody id="body_tab_adresse">
                                   
                                    {# tbody_adresse #}
                                   
                                    {# fin tbody adresse #}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <h3 class="small_tittle"><u>Contact</u></h3>
                        <div class="add_contact">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal_add_contact"><span class="fa fa-plus"></span>Nouveau contact</a>
                        </div>
                        <div class="tab_small_content">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th><span>Contact</span></th>
                                        <th><span>Type de contact</span></th>
                                        <th><span>Email</span></th>
                                        <th><span>N° de tél</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="liste_tab_contact">

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction en cours</h3>
                        </div>  
                        <div class="table_transaction_enc">
                            <div class="tab_small_content">
                                <table class="table" id="tab_tw_ca_enc">
                                    <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Détails</th>
                                            <th>Type transaction</th>
                                            <th>Etape de production</th>
                                            <th>Etat de production</th>
                                            <th>Paiement</th>
                                            <th>Reste à payer</th>
                                            <th>Montant total</th>
                                            <th>Dates</th>
                                            <th>Devis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in tab_trans_enc %}
                                            <tr>
                                                <td>
                                                    <span>{{ item.getIdPro() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getDetail() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getTypeTransaction() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getEtatProduction() }}</span>
                                                </td>
                                                <td>
                                                    <span>
                                                        <span></td>
                                                        <td>
                                                            <span class="montant">{{ item.getTotalReglement() }}</span>
                                                        </td>
                                                        {% set paye  = item.getTotalReglement() %}
                                                        {% set total  =  item.getMontantTotal() %}
                                                        {% set reste = total - paye %}
                                                        <td>
                                                            <span class="montant">{{ reste }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="montant">{{ item.getMontantTotal() }}</span>
                                                        </td>
                                                        <td>
                                                            <span>Date de conf:
                                                                {{ item.getDateConfirmation() | date('d/m/Y') }}</span>
                                                            <br>
                                                            <span>Date de paiement prévue:
                                                            </span>
                                                            <br>
                                                            <span>Date de paiement éffectif:
                                                            </span>
                                                            <br>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                {% endfor %}
                                            </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                        <div class="form_remarque1">
                            <form action="" class="form-inline">
                                <div class="form-group">
                                    {# par defaut date du jour #}
                                    <label for="">Date: </label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="form-group">                                  
                                    <label for="">Concerne: </label>
                                    <select name="" id="" class="form-control">
                                        {% for item in liste_pf %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Observation: </label>
                                    <input type="text" class="form-control observation">
                                </div>
                                 <div class="form-group">
                                    <input type="submit" class="btn btn-xs btn-default" value="Valider">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tab_small_content tab_content_rem">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Concerne</th>
                                        <th>Explication</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span>date12</span></td>
                                        <td><span>concerne sdkjg</span></td>
                                        <td>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing 
                                            </p>
                                        </td>
                                        <td>
                                            <div class="liste_action">
                                                <a href="#">
                                                    <span>Terminer</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                <tr>
                                        <td><span>date12</span></td>
                                        <td><span>concerne sdkjg</span></td>
                                        <td>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing 
                                            </p>
                                        </td>
                                        <td>
                                            <div class="liste_action">
                                                <a href="#">
                                                    <span>Terminer</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="tw_sous_titre">
                            <h3>Transaction terminée</h3>
                        </div>  
                        <div class="table_transaction_enc">
                            <div class="tab_small_content">
                                <table class="table" id="tab_tw_ca_ter">
                                    <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Détails</th>
                                            <th>Type transaction</th>
                                            <th>Etape de production</th>
                                            <th>Etat de production</th>
                                            <th>Paiement</th>
                                            <th>Reste à payer</th>
                                            <th>Montant total</th>
                                            <th>Dates</th>
                                            <th>Devis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for item in tab_trans_ter %}
                                            <tr>
                                                <td>
                                                    <span>{{ item.getIdPro() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getDetail() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getTypeTransaction() }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ item.getEtatProduction() }}</span>
                                                </td>
                                                <td><span><span></td>
                                                <td>
                                                    <span class="montant">{{ item.getTotalReglement() }}</span>
                                                </td>
                                                {% set paye  = item.getTotalReglement() %}
                                                {% set total  =  item.getMontantTotal() %}
                                                {% set reste = total - paye %}
                                                <td>
                                                    <span class="montant">{{ reste }}</span>
                                                </td>
                                                <td>
                                                    <span class="montant">{{ item.getMontantTotal() }}</span>
                                                </td>
                                                <td>
                                                    <span>Date de conf: {{ item.getDateConfirmation() | date('d/m/Y') }}</span>
                                                    <br>
                                                    <span>Date de paiement prévue: </span>
                                                    <br>
                                                    <span>Date de paiement éffectif: </span>
                                                    <br>
                                                </td>
                                                <td></td>
                                            </tr>
                                       {% endfor %}                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
                        <div class="titre_remarque">
                            <h4>Remarque</h4>
                        </div>
                        <div class="tab_small_content tab_content_rem" style="margin-bottom:25px;">
                            <table class="table small_tab">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Concerne</th>
                                        <th>Explication</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span>date12</span></td>
                                        <td><span>concerne sdkjg</span></td>
                                        <td>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing 
                                            </p>
                                        </td>
                                        <td>
                                            <div class="liste_action">
                                                <a href="#">
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                <tr>
                                        <td><span>date12</span></td>
                                        <td><span>concerne sdkjg</span></td>
                                        <td>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing 
                                            </p>
                                        </td>
                                        <td>
                                            <div class="liste_action">
                                                <a href="#">
                                                    <span>Supprimer</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    {# modal nouveau adresse #}
    <div class="modal fade" id="modal_add_adresse" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un adresse siège social</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Adresse siège social</label>
                            <input type="text" placeholder="Adresse" id="adresse" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_modal_add_adresse">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal adresse #}

    {# modal nouveau contact #}
    <div class="modal fade" id="modal_add_contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un nouveau contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Contact</label>
                            <input type="text" placeholder="Contact" id="contact" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Type de contact</label>
                            <select name="" id="type_contact" class="form-control">
                                <option value="Contact primaire">Contact primaire</option>
                                <option value="Contact secondaire">Contact secondaire</option>
                                <option value="Simple contact">Simple contact</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" id="email" placeholder="Adresse@mail...." class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">N° Téléphone</label>
                            <input type="text" id="telephone" placeholder="03x xxx" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" id="button_add_contact">
                                <span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# fin modal contact #}

{% endblock %}
{% block javascripts %}
    <script>

    $(document).ready(function(){
    
        var table_enc = $('#tab_tw_ca_enc').DataTable({
				"language": {
				"sEmptyTable": "Aucune donnée disponible dans le tableau",
				"sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
				"sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
				"sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
				"sInfoPostFix": "",
				"sInfoThousands": ",",
				"sLengthMenu": "Afficher _MENU_ éléments",
				"sLoadingRecords": "Chargement...",
				"sProcessing": "Traitement...",
				"sSearch": "Rechercher :",
				"sZeroRecords": "Aucun élément correspondant trouvé",
				"oPaginate": {
				"sFirst": "Premier",
				"sLast": "Dernier",
				"sNext": "Suivant",
				"sPrevious": "Précédent"
				},
				"oAria": {
				"sSortAscending": ": activer pour trier la colonne par ordre croissant",
				"sSortDescending": ": activer pour trier la colonne par ordre décroissant"
				},
				"select": {
				"rows": {
				"_": "%d lignes sélectionnées",
				"0": "Aucune ligne sélectionnée",
				"1": "1 ligne sélectionnée"
				}
				}
				},
                // "ajax" : {
                // 		url : "/profile/historique_res", // any am Clientcontroller
                // 		type : 'POST', 
                // 		data : {
                // 			'pseudo_hotel' : pseudo_hotel,
                // 			'date1' : $("#date1").val(),
                // 			'date2' : $("#date2").val(),
                // 		},
                // 		// success : function(response){
                // 		//     alert(response);
                // 		// }, 
                // 		// error : function(){
                // 		//     alert('erreur server');
                // 		// },
                // 		"dataSrc":"",	
                // 	},
                //annule le tri
					order : [[0 , 'desc']],
					ordering : true,
					responsive: true,
					scrollY: false,
					scrollX: true,
					scrollCollapse: true,
					paging: true,
					autoFill: true
				});
				new $.fn.dataTable.FixedHeader(table_enc);


        var table_termine = $('#tab_tw_ca_ter').DataTable({
				"language": {
				"sEmptyTable": "Aucune donnée disponible dans le tableau",
				"sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
				"sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
				"sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
				"sInfoPostFix": "",
				"sInfoThousands": ",",
				"sLengthMenu": "Afficher _MENU_ éléments",
				"sLoadingRecords": "Chargement...",
				"sProcessing": "Traitement...",
				"sSearch": "Rechercher :",
				"sZeroRecords": "Aucun élément correspondant trouvé",
				"oPaginate": {
				"sFirst": "Premier",
				"sLast": "Dernier",
				"sNext": "Suivant",
				"sPrevious": "Précédent"
				},
				"oAria": {
				"sSortAscending": ": activer pour trier la colonne par ordre croissant",
				"sSortDescending": ": activer pour trier la colonne par ordre décroissant"
				},
				"select": {
				"rows": {
				"_": "%d lignes sélectionnées",
				"0": "Aucune ligne sélectionnée",
				"1": "1 ligne sélectionnée"
				}
				}
				},
                // "ajax" : {
                // 		url : "/profile/historique_res", // any am Clientcontroller
                // 		type : 'POST', 
                // 		data : {
                // 			'pseudo_hotel' : pseudo_hotel,
                // 			'date1' : $("#date1").val(),
                // 			'date2' : $("#date2").val(),
                // 		},
                // 		// success : function(response){
                // 		//     alert(response);
                // 		// }, 
                // 		// error : function(){
                // 		//     alert('erreur server');
                // 		// },
                // 		"dataSrc":"",	
                // 	},
                //annule le tri
					order : [[0 , 'desc']],
					ordering : true,
					responsive: true,
					scrollY: false,
					scrollX: true,
					scrollCollapse: true,
					paging: true,
					autoFill: true
				});
				new $.fn.dataTable.FixedHeader(table_termine);

                // lister adresse pour l'entreprise

                function liter_adresse_entreprise(){
                    var nom_entreprise = '{{ nom_client }}';
                     var data = {
                        "entreprise"    : nom_entreprise
                    }
                    $.ajax({
                        url         : "/tropical_wood/entreprise/listerAdresse",
                        type        : "POST",
                        data        : data,
                        success     : function(response){
                           $("#body_tab_adresse").html(response);
                        },
                        error       : function () {
                            alert('Erreur dans lister adress');
                        }
                    })
                }
                liter_adresse_entreprise();

        // action ajout adresse 

        $("#button_modal_add_adresse").on('click', function(ev){
            ev.preventDefault();
            var nom_entreprise = '{{ nom_client }}';
            //alert(nom_entreprise);
            var data = {
                "adresse"       : $("#adresse").val(),
                "entreprise"    : nom_entreprise
            }
            $.ajax({
                url         : "/tropical_wood/entreprise/addAdresse",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_adresse_entreprise();
                     $("#modal_add_adresse").modal('hide');
                },
                error       : function () {
                    alert('Erreur dans add adress');
                }
            })
            
        })

        $(document).on('click','.tab_adress_edit', function(ev){
            ev.preventDefault();
            
            var nom_entreprise = '{{ nom_client }}';
            var adresse = $(this).attr('data-adresse');
            $("#modal_add_adresse").modal('show');
            $('#adresse').text(adresse);
            //alert(nom_entreprise);
            // var data = {
            //     "id"       : $(this).attr("data-id"),
            //     "adresse"    : $("#adresse").val(),
            //     "entreprise"    : nom_entreprise
            // }
            // $.ajax({
            //     url         : "/tropical_wood/entreprise/edit/addAdresse",
            //     type        : "POST",
            //     data        : data,
            //     success     : function(response){
            //         liter_adresse_entreprise();
            //     },
            //     error       : function () {
            //         alert('Erreur dans add adress');
            //     }
            // })
            
        })

        // add contact

        $("#button_add_contact").on("click", function(ev){
            ev.preventDefault();
            var nom_entreprise = '{{ nom_client }}';
            var contact = $("#contact").val();
            var type_contact = $("#type_contact").val();
            var email = $("#email").val(); 
            var telephone = $("#telephone").val();

            var data = {
                "nom_en_contact"       : contact,
                "type"  : type_contact,
                "email"         : email,
                "telephone"     : telephone,
                "entreprise"    : nom_entreprise,
            }

            $.ajax({
                url         :  "/tropical_wood/add_contact",
                type        : "POST",
                data        : data,
                success     : function(response){
                    liter_contact_entreprise();
                     $("#modal_add_contact").modal('hide');
                },
                error       : function(){
                    alert("erreur add contact");
                }
            })
        })

            // liste contact
            function liter_contact_entreprise(){
                var nom_entreprise = '{{ nom_client }}';
                    var data = {
                    "entreprise"    : nom_entreprise
                }
                $.ajax({
                    url         : "/tropical_wood/entreprise/listercontact",
                    type        : "POST",
                    data        : data,
                    success     : function(response){
                        $("#liste_tab_contact").html(response);
                    },
                    error       : function () {
                        alert('Erreur dans lister adress');
                    }
                })
            }
            liter_contact_entreprise();

    })

        
    </script>
{% endblock %}
